@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Attributions
JetBrainsMono is an open source font provided by JetBrains under the OFL-1.1 License. For more information, see the link: https://github.com/JetBrains/JetBrainsMono - Just being polite and giving credit where credit is due.
*/

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

:root {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: 300;
  color: white;

  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @apply flex min-h-screen bg-[#0D1116];
}

body {
  @apply text-sky-500 p-6 w-[70%] mx-auto leading-8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-block: 1rem;
  letter-spacing: -1px;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-neutral-300;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

strong {
  @apply font-bold text-neutral-300;
}

p {
  padding-block: 0.5rem;
}

hr {
  @apply border border-neutral-900 my-4;
}

ol {
  @apply list-decimal font-bold text-neutral-400 p-0 list-inside my-8;
}

a:hover {
  @apply text-white;
}

.article-list {
  @apply flex flex-col justify-center gap-4 text-yellow-400;
}

.thought-list {
  @apply flex flex-col justify-center gap-4 text-emerald-400;
}

.astro-code {
  @apply p-2 rounded my-5;
}

.note {
  @apply p-6 my-3 bg-indigo-950 text-neutral-400 border border-indigo-800 rounded-lg;
}
