---
import SiteLayout from "../layouts/SiteLayout.astro";
import Sidebar from "../components/Sidebar";
import AboutMe from "../components/AboutMe";
import Navigation from "../components/Navigation";
import Articles from "../components/ArticleList";
import Thoughts from "../components/Thoughts";
import SidebarRight from "../components/SidebarRight";
---

<SiteLayout title="Aron Sweet: Software Engineer">
  <Navigation />
  <div class="flex flex-col p-6 md:flex-row gap-10 mt-24">
    <div class="w-full md:w-5/6">
      <AboutMe />
      <div class="grid grid-cols-2">
        <Articles client:load />
        <div class="block lg:hidden">
          <Thoughts client:load />
        </div>
      </div>
    </div>
    <div class="hidden lg:block md:w-1/6">
      <SidebarRight client:load />
    </div>
  </div>
</SiteLayout>
